html,

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: black;
  color: white;
}

img {
  max-width: 100%;
  display: block;
    align-self: center;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color:gold;
}